doctype html
html
  head
    title #{title} - My Site
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/scripts/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js")
    script(src="/scripts/script.js")
  body
    header
      h1 OS Dashboard
    .container
      .sidebar
        block sidebar
    footer
      p Copyright 2021 - Djuned Fernando Djusdek
